body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-row,
.hero  {
    background-color: #1F2937;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hero {
    padding: 90px 150px;
    align-items: center;
    gap: 45px;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 24px;
}

.header-links, .hero-secondary-text  {
    color: #E5E7EB;
    font-size: 18px;
    margin: 12px 0;
}

.hero-title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin: 12px 0;
}
.header-row a {
    text-decoration: none;
    color: white;
}

.image-placeholder {
    flex-shrink: 0;
    background-color: #6D747D;
    width: 450px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.button1, 
.button2 {
    background-color: #3882F6;
    color: white;
    border:none;
    border-radius: 7px;
    padding: 8px 32px;
    font-weight: bold;
}

.button2 {
    border: solid;
    border-width: 2px;
}

.white-row {
    padding: 0 150px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}


.boxes {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
}
.box-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px;
    border-color: #3882F6;
    border-radius: 15px;
    border-style: solid;
    margin: 10px;
}

#box-caption {
    text-align: center;
}

.info-title {
    color: #1F2937;
    font-weight: 900;
    margin: 48px 0;
    font-size: 36px;
}

.quote {
    padding: 96px 250px;
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote-author {
    margin-left: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    margin-top: 12px;
}

.call-for-action {
    display: flex;
    background-color: white;
    width: 1200px;
    justify-content: center;
    padding: 64px 0;
}

.blue-frame {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding: 36px 100px;
    gap: 64px;

}

#call,
#call-text {
    color: white;
}

#call {
    font-size: 18px;
    font-weight: bold;
}

.footer-row  { 
    background-color: #1F2937;
    width: 1200px;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}